body {
    text-align: center;
    color:aliceblue;
    width:90%;
    background-color: rgb(88, 87, 87);
    max-height: 50%;
    min-width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.header{
    text-shadow: 1px 1px 2px black;
}

.divTexts{
    text-align: left;
    margin: 3px;
    border-radius: 3px;
    border-style:dashed;
    border-color: azure;
    padding: 10px;
}

.headerTexts {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
}

.crowler, .scan {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size: 12pt;
}

